{% extends 'base.html.twig' %}

{% block title %}Nos {{ controller_name }} | {{ parent() }}{% endblock %}

{% block body %}

<!-- //////////////////////// CONTENU DE LA PAGE ////////////////////////// -->
<section class="container-fluid px-0 produit_gallery pb-3">

    <!-- Titre de la page -->
    <div class="container text-center pt-5 pb-2 position-relative">
        <div class="row d-flex justify-content-between">
            <!-- Titre -->
            <div class="col-8 pb-4">
                <div class="col-12 pb-2 text-left">                   
                    <h2>
                        Nos <span class="text-bleu">{{ controller_name }}</span>
                    </h2>
                </div>
                <div class="col-12">                                    
                    <div class="separator_gallery"></div>
                </div>
            </div>
        </div>
    </div>

</section>
    

{% endblock %}