{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}


<div class="container legal-text px-4">

    <h1 class="pb-2 mt-3 text-center text-md-left">  Questions <span>Fréquentes</span></h1>

    <div class="col-xs-12 col-sm-12 d-flex justify-content-center px-0 justify-content-sm-start">                                    
        <div class="separator_gallery mx-0"></div>
    </div>


    <div id="accordion">

        <div class="card">
            <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h5> Comment trouver ma taille ? </h5>
                </button>
            </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                Vous trouverez un guide des tailles sur notre site. <br>
                Veillez à bien prendre les mesures afin de commander la taille qui vous conviendra. <br>
            </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <h5> Combien de temps met ma commande pour arriver chez moi ? </h5>
                </button>
            </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                Livraison en point relais: <br>> 2-3 jours ouvrables après réception du paiement. <br><br>
            
                Livraison standard: <br>> 5-10 jours ouvrables après réception du paiement. <br><br>
            
                Livraison Express: <br>> Les commandes du lundi au jeudi seront livrées le surlendemain, et ainsi de suite, les commandes produites le lundi 
                seront livrées le mercredi , les commandes produites le mardi seront livrées le jeudi... etc. <br>
                Les commandes du vendredi au dimanche seront livrées le mardi suivant. <br><br>
            
                Livraison par DHL / Poste <br>
                > Vous recevrez bien entendu une confirmation d'expédition avec un numéro de suivi par e-mail dès que notre production aura créé l'étiquette 
                d'expédition. Le suivi est possible dès que DHL a scanné votre colis dans le centre de frêt. <br>
            </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <h5> Où puis-je trouver mon numéro de suivi ou mon numéro d'envoi? </h5>
                </button>
            </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                Vous recevrez le numéro de suivi dans la confirmation d'expédition.
            </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <h5> Comment puis-je faire une réclamation à ma commande? </h5>
                </button>
            </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
                Contactez notre service clients pour toute réclamation au 03.20.10.10.10 (du lundi au vendredi de 9h00 à 13h00 sauf jours fériés,
                ou en remplissant notre formulaire de contact. <br><br>
            
                Dans certains cas il est également utile de laver le produit une première fois. <br>
                Une photo nous aide à garder nos contrôles de qualité au meilleur niveau. <br>
                Informez nous directement de la nouvelle taille souhaitée, en consultant notre tableau des mensurations disponibles pour chaque produit. <br><br>
            
                Voici comment éviter une réclamation: <br>
            
                >  Consultez notre tableau des mensurations pour chaque produit avant de choisir la taille. <br>
                >  Vérifiez la confirmation de votre commande (adresse de facturation et de livraison, l’article, la quantité et la taille, etc). <br>
                >  Pour les grosses commandes, nous vous recommandons de réaliser un test d’impression. Nous vous en remboursons volontiers le montant 
                >  si vous confirmez votre commande par la suite. <br>
                >  Prévoyez suffisamment de temps pour la production et la livraison. Nous produisons VOTRE produit désiré, nous ne le saisissons pas 
                    simplement sur l'étagère. <br>
                >  Si vous êtes pressé, vous pouvez utiliser notre service express.br
            </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingFive">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    <h5> Comment puis-je annuler ma commande? </h5>
                </button>
            </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
                Votre commande peut être annulée dans  la corbeille rouge sur le côté droit de votre commande, si nous n'avons pas encore enregistré le paiement.  
                Si la corbeille rouge n'est plus visible, votre commande ne peut plus être modifiée et annulée.
            </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingSix">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    <h5> Comment puis-je modifier ma commande? </h5>
                </button>
            </h5>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body">
                Un changement ultérieur à votre commande après confirmation de celui-ci n'est donc pas possible. <br>
                Merci de contacter notre service clients. Nous allons bien sûr essayer de vous aider, afin que vous puissiez obtenir votre produit désiré. <br>
            
                Service clients: 03.20.10.10.10 (du lundi au vendredi de 9h00 à 13h00 sauf jours fériés) E-Mail: Formulaire de contact 
            </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingSeven">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    <h5> Quelles sont les possibilités de paiement ? </h5>
                </button>
            </h5>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
            <div class="card-body">
                Chez DEV-my-shirt vous pouvez confortablement et en toute sécurité payer par: <br>
            
                > Paypal <br>
                > Carte de crédit <br>
            
                La commande sera produite après réception du paiement. La facture en format PDF sera envoyée par e-mail à la fin de la production. <br>
            
                En cas de problème avec le paiement, vous pouvez nous contacter au 03.20.10.10.10 (du lundi au vendredi de 9h00 à 13h00 sauf jours fériés)
                ou en remplissant notre formulaire de contact.
            </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingHeight">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseHeight" aria-expanded="false" aria-controls="collapseHeight">
                <h5> Comment supprimer mon compte client ? </h5>
                </button>
            </h5>
            </div>
            <div id="collapseHeight" class="collapse" aria-labelledby="headingHeight" data-parent="#accordion">
            <div class="card-body">
                Pour supprimer votre compte client, envoyez-nous un e-mail via le formulaire de contact.
            </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingNine">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                    <h5> Une confirmation de la commande m'est-elle envoyée? </h5>
                </button>
            </h5>
            </div>
            <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
            <div class="card-body">
                La confirmation de votre commande est automatiquement envoyée à l'adresse e-mail fournie, après que la commande a été complétée. <br>
                Veuillez également vérifier votre dossier spam.
            </div>
            </div>
        </div>

    </div>
    
</div>    
    
{% endblock %}
