{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}

<div class="container">

    <!-- FIL D'ARIANE --> 
    <div class="ariane"> Accueil/Modes de paiement et livraison </div>  
    
    <!-- RGPG -->
    <h1> Modes de <span>Paiement et livraison</span> </h1>
    <div class="ligne"></div>
    
    <div class="text">

        <h3>Modes de paiement</h3>
        <hr>



        <h3>Modes de livraison</h3>
        <hr>


        <h3>Garantie Satisfaction</h3>
        <hr>
            <h4>Trop petit ? Trop grand ?<br>
            Echange sous 30 jours</h4> <br>

            <p>Tous les articles commandés sur Spreadshirt ou dans une boutique partenaire sont imprimés à la demande et à la main. 
            Cela nous différencie des sites de vente en ligne classiques, et par conséquent, nous ne pouvons pas simplement remettre en vente les articles échangés et retournés. 
            Nous souhaitons toutefois que vous soyez entièrement satisfait(e) de votre commande.</p> 
            <p>C’est pour cela qu’indépendamment de votre motif de réclamation, vous pouvez faire valoir notre <span> Droit d’échange sous 30 jours </span>.</p>
            <p>Que l’article ne soit pas à votre taille ou ne vous plaise pas, nous échangeons votre marchandise sous 30 jours à compter de la date de commande. <br>
                Plusieurs options sont à votre disposition :</p> 
            
            <li> un échange dans une autre taille, couleur, etc </li> 
            <li> un échange contre un avoir à valoir sur votre prochaine commande </li> <br>

            <p>Connectez-vous à votre compte Spreadshirt et faites une demande de réclamation dans l’aperçu de la commande ou utilisez le lien envoyé dans l’e-mail 
            de confirmation de commande.</p> 
            
            <p>Nous pouvons vous rembourser le prix d’achat uniquement si vous n’avez pas personnalisé l’article commandé. 
            Vous devez impérativement faire une demande de réclamation préalable pour que nous puissions traiter votre renvoi.</p>

    </div>
</div>    

{% endblock %}
