.payment{


    padding: 30px 5px 50px 5px;
    
    @media screen and (max-width:800px) {
        thead {
            display:none;
        }
    } 
    
    @media screen and (max-width:540px){
        .button {
            display: flex;
            flex-direction: column;
        }
    }

    h1 {
        @include Rob-light-upper;
        margin: 40px 0 10px 0;
        color: $anthracite;
        font-size: 36px;
        
        span{
            @include Rob-regular-upper;
            color:$blue;
            font-size: 36px;
        }
    }



    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }


    .cb{
            max-height: 155px;
            height: 105px!important;
    }

    // .paypalogo{
    //         height: 100%;
    //         max-height: 100px;
    
    
    //     } 

    
    
    .centerbouton{

        display: block;
    position: relative;
    margin-left: 250px;
    margin-right: auto;
        
    } 
        
} 

    