// -------- IMPORTS PARTIALS -------------- //

@import "{{ asset( 'partials/color.scss' ) }}";
@import "{{ asset( 'partials/mixins.scss' ) }}";
@import "{{ asset( 'partials/fonts.scss' ) }}";
@import "{{ asset( 'partials/header.scss' ) }}";;
@import "{{ asset( 'partials/footer.scss' ) }}";;

// -------- GENERIQUES ----------- //

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    box-sizing: border-box;
    background-color: $white;

    // ---- IMPORTS PAGES ---- //

    @import "{{ asset( 'pages/home.scss' ) }}";
    @import "{{ asset( 'pages/contact.scss' ) }}";

}