{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<h2>MY SHOPPING CART </h2>
{# {% if cart.count <= 0 %}
<h1>No Items in your cart yet</h1>
{% else %} #}
<div class="container cart-gd">
    {# {% for item in cart.items %} #}
    <div class="row cart-header" id="item.id" >

        <a href="#" class="col-1 close1 deleteItem" data-item-id="item.id"> item.id</a>
        
            <div class="col-2 cart-item cyc">
                <img src="../../public/assets/images/homme/tshirt_homme_c_mieux.png" class="img-responsive" width="100px" alt="">
            </div>
        
                <div class="col-3" ><a href="#">  item.product.title  </a></div>
                    
                <div class=" row delivery">
                    <p class="col-auto"><span>Unit price : $</span> <span > item.product.price </span></p>
                    <div class="clearfix"></div>
                    <p class="col-auto"><span>Quantity : </span> <span > item.quantity </span></p>
                    <div class="clearfix"></div>
                    <p class="col-auto"><span>Total price : $</span> <span > item.total </span></p>
                    <div class="clearfix"></div>
                </div>
           
       
            <div class="clearfix"></div>
        </div>
    </div>
    {# {% endfor %} #}

    <button class="btn btn-succes">Passer la commande</button>
    
    {# <div style="margin-top: 50px; text-align: right;">
        <a href="/checkout" class="big_button">Checkout</a>
    </div> #}
</div>
{# {% endif %} #}

{% endblock %}
