{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}

<div class="container basket px-4">

    <h1 class="pb-2 mt-3 text-center text-md-left">  Mon <span>Panier</span></h1>

    <div class="col-xs-12 col-sm-12 d-flex justify-content-center px-0 justify-content-sm-start">                                    
        <div class="separator_gallery mx-0"></div>
    </div>

    {# {% if cart.count <= 0 %}
    <h1>No Items in your cart yet</h1>
    {% else %} #}

    {# {% for item in cart.items %} #}
        <div class="row cart-header" >
        {# id="{{item.id}}" > #}

            <a href="#" class="col-1 deleteItem" 
            {# data-item-id="{{item.id}}" #}
            ><img src="../../public/assets/images/icones/poubelle.svg" width="20px"></a>
            
            <div class="col-2 cart-item img">
                <img src="../../public/assets/images/man/tshirt_man_c_mieux.png" class="img-responsive" width="100px" alt="">
            </div>
        
            <div class="col-3 description" ><a href="#"> item.product.title </a></div>
                
           
                <div class="col-2 unit_price">Prix Unitaire
                    {# <span > item.product.price </span> #}
                </div>
                <div class="col-2 quantity">Quantité                      
                    {# <span > item.quantity </span> #}
                </div>
                <div class="col-2 total_price">Prix Total 
                    {# <span > item.total </span> #}
                </div>
            
            </div><hr>
           
            <button type="button" class="btn btn-success">Passer la commande</button>    
        </div>
        {# {% endfor %} #}


</div>
{# {% endif %} #}

{% endblock %}
