{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}
{% endblock %}

{% block body %}
<div class="container bg-light p-5">
<h1 class="pb-2 mt-3 text-center text-md-left"> DETAIL </h1>
    <div class="col-xs-12 col-sm-12 w-75 d-flex justify-content-center px-0 justify-content-sm-start">                                    
        <div class="separator_gallery mx-0"></div>
    </div>
    <p><b>Commande n° 75582</b></p>
    <p><b>Date: </b>21/12/2018</p>

<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">Quantité</th>
      <th scope="col">Logo</th>
      <th scope="col">Couleur</th>
      <th scope="col">prix</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">3</th>
      <td>Lorem et Hardy</td>
      <td>noir</td>
      <td>25</td>

    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Jacob</td>
      <td>gris</td>
            <td>25</td>

    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Larry</td>
      <td>jaune</td>
      <td>25</td>

    </tr>
  </tbody>
</table>
<p class="mt-5 text-right mr-5"><b>TOTAL: </b>85</p>


</div>


{% endblock %}