{% extends 'base.html.twig' %}

{% block title %}Forgotten Password!{% endblock %}

{% block body %}

<section class="container-fluid px-0 produit_gallery pb-1">
  
  <!-- Titre de la page -->
  <div class="container text-center pt-5 position-relative">
    <div class="row d-flex justify-content-between">
     
        <!-- Titre -->
        <div class="col-xs-12 col-sm-8 px-0">
            <div class="col-12 text-center text-md-left">                   
                <h2>
                  Entrer <span class="text-bleu">votre adresse mail</span>
                </h2>
            </div>
            <div class="col-xs-12 col-sm-12 d-flex justify-content-center justify-content-sm-start">                                    
                <div class="separator_gallery mx-0"></div>
            </div>
        </div>

    </div>
  </div>
  

<div class="row mt-5 mb-5">
    <div class="col-md-5"></div>
    <div class="col-md-2">
    <form method="post">
        <p class="text-danger">veuillez entrer votre addresse mail</p>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" name="email" id="inputEmail" class="form-control mb-4 block-center" placeholder="Email" required autofocus>
        <button class="btn btn btn-info" type="submit">
            envoyer
        </button>

    </form>
    </div>
    <div class="col-md-5"></div>
</div>
</section>
{% endblock %}