{% extends 'base.html.twig' %}

{% block title %}Reset Password !{% endblock %}

{% block body %}

<section class="container-fluid px-0 produit_gallery pb-1">
  
  <!-- Titre de la page -->
  <div class="container text-center pt-5 position-relative">
    <div class="row d-flex justify-content-between">
     
        <!-- Titre -->
        <div class="col-xs-12 col-sm-8 px-0">
            <div class="col-12 text-center text-md-left">                   
                <h2>
                  Entre <span class="text-bleu">ton nouveau mot de passe</span>
                </h2>
            </div>
            <div class="col-xs-12 col-sm-12 d-flex justify-content-center justify-content-sm-start">                                    
                <div class="separator_gallery mx-0"></div>
            </div>
        </div>

    </div>
  </div>

<div class="row mt-5 mb-5">
    <div class="col-md-5"></div>
    <div class="col-md-2">
    <form method="post">

        <p class="mb-3 -normal text-danger">Mot de passe:</p>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <input type="hidden" name="token" value="{token}">

        <button class="mt-3 btn btn-info" type="submit">
            Envoyer
        </button>
    </form>
    </div>
    <div class="col-md-5"></div>
</div>
</section>

{% endblock %}